@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #8a3aff;
  --color-secondary: teal;
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));