@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #22c55e;
  --color-secondary: teal;
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

.navitem{
 
  clip-path: polygon(
    100% 100%,
    0 100%
    0 0,
    85% 0,
   
  );
  
}
