@import "tailwindcss";

 @plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #22c55e;
  --color-secondary: teal;
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));







/* BuyerApplyForm.css */
.buyerForm {
  clip-path: polygon(
    0 0,        /* top-left */
    100% 0,     /* top-right */
    100% 100%,  /* bottom-right */
    0 85%       /* bottom-left slant */
  );
  background: linear-gradient(to right, #34d399, #10b981);
  /* optional shadow */
  box-shadow: inset -5px 5px 15px rgba(0,0,0,0.1);
}